<% provide :title, 'Home' %>

<div class="center jumbotron">
  <h1>Welcome to the E-Learning System</h1>

  <h2>
    Please create a account to use the features of 
    <a href="#">E-Learning System</a>    
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-warning" %>
</div>
