@import "bootstrap-sprockets";
@import "bootstrap";
/* tong quat */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* phong chu tong quat */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/*container*/
.main-container{
  border:1px solid #e1e1e1;
  min-height:500px;
  .row .col-md-8{
    padding-bottom:30px;
  }
}
/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {  
  padding-top: 5px;  
  color: #777;
  position: fixed;
  bottom: 0px;
  width: 90%;  
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}
footer ul {
  float: right;
  list-style: none;
  margin-right: 25px;
}

footer ul li {
  float: left;

}

/* debug area */

.debug_dump {
  position: fixed;
  clear: both;  
  width: 90%;
  bottom: 28px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.user_info a.user_name {
  font-weight: bold;	
}
.user_info a.user_name:hover {
  text-decoration: none;
}

aside.info {
  border-right: 1px solid #e1e1e1;
  min-height: 400px;
}

.word-lession {
  margin-top: 25px;
}
.word-lession .word-bt {
  margin-right: 15px;
}
.word-lession .lession-bt {
  margin-left: 15px;
}
h2.line {
  margin-top: 40px;
  padding-bottom: 6px;
  border-bottom: 1px solid #e1e1e1;
}
/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 0px 0;
    margin-top: 0px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {  
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}
section.categories {
  width: 165px;
  float: left;
}
select#cate_id {
  width: 165px;
}
section.learn-or-no {
  width: 600px;
  ul li {
    width: 150px;
    float: left;
    input[type='radio'] {
      width: 40px;  
    }
  }  
}
input.btn_submit_list_word {
  width: 100px;
  height: 30px;
  margin-top: 30px;
  margin-left: 100px;
}

#lists-word #list-tb {
  margin: 2px auto;
  th, td {
    width: 250px;
    height: 40px;
    text-align: center;
    font-size: 16px;
  }
}

.main-container {
  padding-bottom: 30px;
}

#categories li.category {
  margin-bottom: 35px;
  h3 span {
    font-size: 18px;
    margin-left: 10px;
  }
}
.main-container>h3 span {
  font-size: 18px;
  margin-left: 20px;
}
.main-container>h3 span strong {
  font-weight: normal;
}
#show_result h3 span {
  font-size: 18px;
}

.questions {
  margin-top: 30px;
}
.question {
  margin-bottom: 25px;
}
.question h3 {
  margin-left: 200px;
  margin-top: 38px;
}
.question ul {
}
.question ul li input {
  width: 30px;
}
.btn-next {
  margin-left: 390px;
  margin-top: 30px;
}
.correct {
  font-size: 25px;
  color: #0660DD;
  font-weight: bold;
}
.incorrect {
  font-size: 25px;
  font-weight: bold;
  color: #F71D1D;
}
.questions input.btn {
  margin-top: 80px;
}
.table tr td span {
  line-height: 50px;
}
.status p{
  margin-left: 180px;
}
#words>.word {
  line-height: 50px;
  margin-left: 180px;
}
#answers>.answer {
  line-height: 50px;
  margin-left: 100px;
}
.correct, .incorrect {
  line-height: 50px;
}

.save_result {
  margin-left: 320px;
  margin-top: 40px;
  width: 150px;
}
.activity {
  margin-bottom: 10px;
}
.user {
  margin-bottom: 10px;
  margin-left: 170px;
}
.words {
  margin-left: 180px;  
}
li.word {
  position: relative;
}
li.word span {
  position: absolute;
  left: 150px;
}
li.answer {
  margin-left: 180px;
  position: relative;
  span {
    position: absolute;
    left: 150px;
  }
}
#form-answer {
  margin-top: 45px;
  input.btn {
    margin-top: 20px;
  }
}
#answer_status {
  width: 25px;
}

.admin-area {
  margin-top: 20px;
  border-top: 1px solid #e1e1e1;
}
dt {
  margin-top: 15px;
}
dd {
  margin-left: 20px;
}
#word_category_id {
  width: 190px;
}